@import "tailwindcss";

@theme {
  --color-background: #242424;
  --color-text: #ffff;
  --color-primary: oklch(0.75 0.15 150);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
